* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1em;
  background-color: darkslateblue;
}

h1 {
  text-align: center;
/*   margin-top: 1em;
  margin-bottom: 1em; */
/*   margin-top: 1em 0 1em 0; */
  margin: 1em 0;
  color: whitesmoke;
}

