* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 1em;
  background-color: darkslateblue;
}

h1 {
  text-align: center;
  /*   margin-top: 1em;
  margin-bottom: 1em; */
  /*   margin-top: 1em 0 1em 0; */
  margin: 1em 0;
  color: whitesmoke;
}

.container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 1em;
  border-radius: 1em;
  margin: 0 auto;
  max-width: 1440px;
  /* background-color: lightblue; */
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border-radius: 2em;
  background-color: lightcoral;
}

.pokemon-image {
  width: 100%;
  max-width: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: whitesmoke;
}

.pokemon-name {
  text-align: center;
  font-size: 2em;
  color: whitesmoke;
}

.pokemon-type {
  /*  padding: .5em .75em .5em .75em; */
  /*  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.75em;
  padding-left: 0.75em; */
  padding: 0.5em 0.75em;
  border-radius: 1.6em;
  color: whitesmoke;
  background-color: red;
}

.pokemon-description {
  line-height: 1.36em;
  text-align: center;
}

.pokemon-powers {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style: none;
}

.pokemon-skill {
  padding: 0.4em;
  border-radius: 0.4em;
  font-size: 0.75em;
  color: whitesmoke;
  background-color: rgba(54, 17, 17, 0.618);
}

/* Pantallas de max-width: 1023px */

@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5em;
  }

  .pokemon {
    padding: 1.2em;
    gap: 0.75em;
  }
}

/* Pantallas de max-width: 435px */

@media screen and (max-width: 435px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0.2em;
  }
  .pokemon {
    padding: 1em;
    gap: 0.5em;
  }
  .pokemon-powers {
    gap: 0.2em;
  }
}
